<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transfer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <a class="navbar-brand" href="#">PayMyBuddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/transfer}">Transfer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Log In</a>
            </li>
        </ul>
    </div>
</nav>

<div class="band"></div>

<div class="transferPanel p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Send Money</h2>
        <button class="cta-button ml-auto"><a th:href="@{/connections}"> Add connection</a></button>
    </div>
    <form action="/submitTransaction" method="post">
        <select class="dropdown" name="selectedEmail">
            <option value="" disabled selected>Select one of your connections</option>
            <option th:each="email : ${emails}" th:value="${email}" th:text="${email}">No connection found!</option>
        </select>
        <input type="number" class="monetaryInput" step="0.01" placeholder="Enter amount in $" name="amount">
        <div class="form-group row p-3">
            <input type="text" class="form-control col-7" placeholder="Describe the reason for this transfer" name="description">
        </div>
        <button type="submit" class="payButton ">Pay</button>
    </form>
    <div th:if="${error}" class="error alert alert-danger text-center my-3">
        <span class="font-weight-bold">Error: </span>
        <span th:text="${error}"></span>
    </div>
</div>


<div class="sendMoney p-3">
    <h2>My Transactions</h2>
</div>

<div class="table-container p-3">
    <table>
        <thead>
        <tr>
            <th>Connection</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.connectionFirstName}"></td>
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.formattedAmount}"></td>
        </tbody>
    </table>
    <ul class="pagination">
        <li th:if="${currentPage > 0}">
            <a th:href="@{/transfer(page=0)}">&laquo;&laquo;</a>
        </li>
        <th:block th:if="${totalPages > 0}">
            <th:block th:if="${totalPages <= 5}">
                <th:block th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <li th:class="${pageNumber == currentPage ? 'active' : ''}">
                        <a th:href="@{/transfer(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                    </li>
                </th:block>
            </th:block>
            <th:block th:if="${totalPages > 5}">
                <li th:class="${currentPage == 0 ? 'active' : ''}">
                    <a th:href="@{/transfer(page=0)}" th:text="1"></a>
                </li>
                <li th:if="${currentPage > 2}">
                    <span>...</span>
                </li>
                <th:block th:if="${currentPage <= 2}">
                    <th:block th:each="pageNumber : ${#numbers.sequence(1, 4)}">
                        <li th:class="${pageNumber == currentPage ? 'active' : ''}">
                            <a th:href="@{/transfer(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                        </li>
                    </th:block>
                </th:block>
                <th:block th:if="${currentPage > 2}">
                    <th:block th:if="${currentPage < totalPages - 3}">
                        <th:block th:each="pageNumber : ${#numbers.sequence(currentPage - 1, currentPage + 1)}">
                            <li th:class="${pageNumber == currentPage ? 'active' : ''}">
                                <a th:href="@{/transfer(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                            </li>
                        </th:block>
                    </th:block>
                    <li th:if="${currentPage < totalPages - 4}">
                        <span>...</span>
                    </li>
                </th:block>
                <li th:class="${currentPage == totalPages - 1 ? 'active' : ''}">
                    <a th:href="@{/transfer(page=${totalPages - 1})}" th:text="${totalPages}"></a>
                </li>
            </th:block>
        </th:block>
        <li th:if="${currentPage + 1 < totalPages}">
            <a th:href="@{/transfer(page=${totalPages - 1})}">&raquo;&raquo;</a>
        </li>
    </ul>
</div>

<footer>
    <p>&copy; 2024 Pay My Buddy</p>
</footer>
</body>

</html>